<!DOCTYPE html>
<html lang="en">
<head>
  <title>Wasit Limprasert</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <div class="jumbotron">
    <h1>{{name}}</h1>      
    <p>Computer Science Lecturer at Thammasat University.</p>
  </div>

  <div class="jumbotron col-sm-6" >
    <img src="week04.jpg" class="img-rounded" alt="Cinque Terre" width="200" >
    <br>
    Cer Rental Demo in week04
  </div>  

  <div class="jumbotron col-sm-6" >
    <img src="shop.jpg" class="img-rounded" alt="Cinque Terre" width="200" >
    <br>
    Our new cafe
  </div>   
</div>

</body>
</html>