<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<script
	  src="https://code.jquery.com/jquery-3.3.1.min.js"
	  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	  crossorigin="anonymous"></script> 

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.5/css/uikit.min.css" />
	<link rel="stylesheet" href="https://getuikit.com/v2/docs/css/uikit.docs.min.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.5/css/components/datepicker.min.css" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.5/js/uikit.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.5/js/components/datepicker.min.js"></script>
	<script src="https://getuikit.com/v2/src/js/components/form-select.js"></script>


</head>
<body>
    <form method="POST" class="uk-form">
        {% csrf_token %}
        {{ formset.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>

<!-- <form class="uk-form">
    	<input type="text" data-uk-datepicker="{format:'DD.MM.YYYY'}">
</form> -->
</body>
</html>